# Logs
logs/
*.log
logs/**/*.log
logs/**/*
!logs/.gitkeep  # If you want to track an empty 'logs' folder for structure

# Spring Boot-specific logs
spring-boot-logger.log

# VS Code
.vscode/

# Other IDEs
.idea/
*.iws
*.iml
*.ipr

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Maven and Build Directories
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
